@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css?family=Acme|Caveat+Brush|Concert+One|Cookie|Fugaz+One|Gloria+Hallelujah|Lobster|Lobster+Two|Pacifico|Permanent+Marker|Righteous');
body{
	background-image:url("../img/fundoteste.png");
	margin: 0px;
}
#divsup2{
	background: #8effe4
}
.btnSuperior, .btnDireita{
	padding: 10px 13px;
	float: left;
	width: auto;
	border: none;
	display: block;
	outline: 0;
}
.btnDireita{
	float: right;
}
.testecor{
	background-color: #ff3de0;
}
.btnSupEspaco{
	white-space: normal;
}
div.supbarsombra{
    box-shadow: 0 4px 8px 0 rgba(95, 216, 211, 0.68), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
div.container{
	padding: 10px;
}
.sombrabox{
	width: 250px;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  	text-align: center;
  	background: #48e3ff;
}
.centro{
	margin: auto;
    width: 50%;
}
p{	color: #1536df;
	font-size: 48px;
	font-style: normal;
	font-family: Cursive;
}
a{
	color: black;
	cursor: pointer;
	text-decoration: none;
	font-family: cursive;
	font-size: 18px;
	text-align: justify;
}