@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaijaan|Boogaloo|Concert+One|Pacifico|Patrick+Hand');
*, *::after, *::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Concert One, cursive;
}
div, header, body, h1, h2, h3, h4, h5, h6, a, li, p, span,form,input,select,option{
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
}
p{
    display: block;
    margin-top: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#dvcad02,#dvlog02{
    background: #ff852b;
    border-radius: 2%;
    width: 700px;
    height: 550px;
    display: flex;
    box-shadow: 0 4px 15px 1px rgba(0, 0, 0, 0.5), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}
#bdcad,#bdlog,div{    overflow: hidden;}#bdcad, #bdlog{background: #31353d;
                                 }
#dvcad03,#dvlog03,#dvcad04,#dvlog04,#dvcad04-01,#dvlog04-01,#dvcad05,#dvlog05{
    width: 100%;
    height: 100%;
    display: flex;
}
#dvcad03,#dvlog03,#dvcad04,#devlog04,#dvcad04-01,#dvlog04-01,#dvcad05,#devlog05{background: none;}
#dvcad03,#devlog03, .divesquerda{
    float: left;
    flex-direction: column;
}
#dvcad04-01, #devlog04-01{flex-direction: column;}
#dvcad04, #devlog04{
    height: 100px;
    width: 100%;
}
#dvcad05,#devlog05, .divdireita{float: right;}
.divesquerda,.divdireita,.dividir{
    width: 50%;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
}
#datanascimento, #sexo{text-transform: capitalize; text-align: right; padding: 0}
input, select {
    color: #757575;
    box-shadow: 0 3px 10px 0 rgb(141, 143, 144);
    height: 50%;
    width: 100%;
    background: #FFFFFF;
    display: flex;
    border-radius: 0;
    padding: 10px;
    border: solid #00a3ff 2px;
    font-size: 16px;
}
label{
    color: rgba(89,89,82,0.97);
}
.arredaaiumpouco{
    padding-left: 5px;
}
.custom-select{
    width: 100%;
    height: 50%;
    border: solid #00a3ff 2px;
    color: #757575;
    background: none;
    border-radius: 4%;
    box-shadow: 0 3px 10px 0 rgb(141, 143, 144);
}
.grupo-form{
    height: 16.66666666667%;
    width: 100%;
    background: none;
}
.img-user{
    background-image: url("../img/cd-icon-username.svg");
}
.img-email{
    background-image: url("../img/cd-icon-email.svg");
}
.img-password{
    background-image: url("../img/cd-icon-password.svg");
}
.img-menu{
    background-image: url("../img/cd-icon-menu.svg");
}
button{
    height: 50%;
    width: 25%;
    float: left;
    border: none;
    border-radius: 0;
    margin-left: 10px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 16px;
    background: #00c500;
    color: #FFFFFF;
    box-shadow:0 3px 10px rgba(0, 197, 0, 0.8);
    transition: all 0.2s;
    cursor: pointer;
}
a{
    display: contents;
    margin: 3px;
    text-decoration: none;
    color:#00a3ff;
}
