@import url('https://fonts.googleapis.com/css?family=Audiowide|Orbitron|Press+Start+2P');
body {font-family: 'Patua One', cursive;
margin: 0;}

/* Campos de entrada de largura total */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* 
Definir um estilo para todos os botões da tela login */
button {
   font-family: 'Audiowide', cursive;
   margin: 0;
   background-color: #59656F;
   color: white;
   padding: 10px;
   text-decoration: none;
   font-size: 14px; 
   line-height: 26.9px;
   border-radius: 4px;
   border: none;
   cursor: pointer;  
}

/* Estilos extras para o botão de cancelamento */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Centralizar a imagem e posicione o botão fechar */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 30%;
    border-radius: 50%;
}

.container-form {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 35px;
    border-radius: 4px;
}

/* Conteúdo Modal / box */
.modal-content {
    background-color: lightgray;
    margin: 5% auto 15% auto; /* 5% a partir do topo, 15% a partir do fundo e centrado */
    border: none;
    border-radius: 4px;
    width: 36%; /* Poderia ser mais ou menos, dependendo do tamanho da tela*/
}



/* Adicionar animação de zoom */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Alterar estilos para span e cancelar botão em telas extras pequenas */
@media screen and (max-width: 300px) {
    span.psw {
     display: block;
     float: none;
 }
 .cancelbtn {
     width: 100%;
 }
}