@import url('https://fonts.googleapis.com/css?family=Righteous');

* {
    box-sizing: border-box;
}

/* Style o corpo */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* Cabeçalho / logotipo Título*/
.header {
    padding: 145px;
    text-align: center;
    background: url(background.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

/* Aumentar o tamanho da fonte do cabeçalho*/
.header h1 {
    font-family: 'Righteous', cursive;
    color: black;
    font-size: 40px;
}

/* Style 
a barra de navegação superior */
.navbar {
    overflow: hidden;
    background-color: #121113;
}

/* Style dos links da barra de navegação */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 17px 20px;
    text-decoration: none;
}

/* Link alinhado à direita */
.navbar a.right {
    float: right;
}

/* Alterar cor ao passar o mouse */
.navbar a:hover {
    background-color: white;
    color: black;
}

/* Column container */
.row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
}

/* Crie duas colunas desiguais que ficam próximas umas das outras */
/* Barra lateral / coluna esquerda */
.side {
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    background: url(opa.jpg);
    
    background-size: cover;
    padding: 20px;
}

/* Coluna principal */
.main {   
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    background: gray;
    background-size: cover;
    padding: 20px;
}

/* Imagem falsa, apenas para este exemplo */
.fakeimg {
    background-color: white;
    width: 100%;
    padding: 20px;

}

/* Rodapé */
.footer {
    color: white;
    padding: 20px;
    text-align: center;
    background: #121113;
}

/* 
Layout responsivo - quando a tela tiver menos de 700 pixels de largura, coloque as duas colunas empilhadas uma em cima da outra em vez de próximas umas das outras */
@media screen and (max-width: 700px) {
    .row {   
        flex-direction: column;
    }
}

/* Layout responsivo - quando a tela tem menos de 400px de largura, faça os links de navegação ficarem empilhados um em cima do outro, em vez de ficarem lado a lado.*/
@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}
