@import url('https://fonts.googleapis.com/css?family=Righteous');

* {
    box-sizing: border-box;
}

/* Style o corpo */

body {
    font-family: 'Righteous', cursive;
    margin: 0;
}

/* Cabeçalho / logotipo Título*/
.header {
	background-position: center top;
	background-repeat: no-repeat;
	padding-top: 200px;
    padding-bottom: 100px;
    text-align: center;
    background: url(../img/back.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: white;
    width: 100%;
    height: auto;

}

/* Aumentar o tamanho da fonte do cabeçalho*/
.header h1 {
    font-family: 'Righteous', cursive;
    color: black;
    font-size: 40px;
}
div#cabecalho {
    border-bottom: 10px lightgray solid;
    
    
}
/* Style 
a barra de navegação superior */

/* Style dos links da barra de navegação */
#navbar {
    border-radius: 5px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 24px 10px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
  border-radius: 1rem;
    box-shadow: 0px 4px 0px lightgray;
}

#navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

#navbar #logo {
  font-size: 35px;
  font-weight: bold;
  transition: 0.4s;
}

#navbar a:hover {
  background-color: 0px 4px 0px lightgray;
  color: #1B98E0;
}

#navbar a.active {
  background-color: #1B98E0;
  color: white;
}

#navbar-right {
  float: right;
}

/* botao */



/* Column container */
.row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
}

/* Crie duas colunas desiguais que ficam próximas umas das outras */
/* Barra lateral / coluna esquerda */
.side {
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    background: url(../img/opa.jpg);
    background-size: cover;
    display: block;
    width: 500px;
    float: right;
    border-right: 10px solid lightgray; 
    padding-right: 15px;
    padding: 20px;
}

/* Coluna principal */
.main {   
    -ms-flex: 70%; /* IE10 */
    flex: 70%;
    background: gray;
    background-size: cover;
    padding: 20px;
}

/* Imagem falsa, apenas para este exemplo */
.fakeimg {
    background-color: white;
    width: 100%;
    padding: 20px;

}

/* Rodapé */
.footer {
    color: #ffffff;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background: #333333;

}
div#rodape {
    clear: both;
    border-top: 10px solid lightgray;
}

/* Js */
@media screen and (max-width: 580px) {
  #navbar {
    padding: 20px 10px !important;
  }
  #navbar a {
    float: none;
    display: block;
    text-align: left;
  }
  #navbar-right {
    float: none;
  }
}

@keyframes neon {
  from {
    filter: drop-shadow(0 0 0 var(--cor-neon));
  }
  to {
    filter: drop-shadow(0 0 30px var(--cor-neon));
  }
} 

img {
  animation: neon 1s alternate infinite ease-in-out;
}

.neon {
  --cor-neon: #1B98E0;
}
img#center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
/*----------efeito linha navbar ------*/



.btns {
  text-align: center;
  
}

.efeito {
  border: none;
  color: #ffffff;
  padding: 20px;
  font-size: 46.4px;
  line-height: 160px;
  border-radius: 23px;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  transition: 400ms ease;
  display: block;
  top: -260px;
    margin-left: auto;
    margin-right: auto;
}
.efeito {
  background: #1B98E0;
  transform-style: preserve-3d;
}
.efeito:after {
  top: -100%;
  left: 0px;
  width: 100%;
  padding: 20px;
  position: absolute;
  background:  #4CAF50;
  border-radius: 23px;
  box-sizing: border-box;
  content: 'EASY';
  transform-origin: left bottom;
  transform: rotateX(90deg);
}
.efeito:hover {
  transform-origin: center bottom;
  transform: rotateX(-90deg) translateY(100%);
}